.box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
}
.container {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1140px;
  font-weight: 600;
  font-family: "Nanum Gothic", sans-serif;
}

.container li {
  position: relative;
  cursor: pointer;
  padding-top: 3%;
  border-top: 3px solid transparent;
}
.container li:hover {
  color: #2e7eed;
}

.active {
  border-top: 3px solid #2e7eed;
  padding-top: 30%;
  color: #2e7eed;
}

.menuButton {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
