.room {
  display: flex;
  flex-direction: column;
  border: 2px solid #eee;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  padding: 1rem;
}
.stateBar {
  display: flex;
  width: 100%;
  font-weight: bold;
  font-size: revert;
  margin-bottom: 1.5rem;
}
.profileBox,
.conditionBox {
  display: flex;
  align-items: center;
  width: 60%;
  padding: 1rem;
}
.profileBox {
  flex-direction: column;
}
.profile {
  width: 35px;
  height: 35px;
  border: 1px solid #eee;
  background: #eee;
  border-radius: 50%;
  margin-right: 1rem;
}

.profile img {
  width: 32px;
  border-radius: 50%;
}

.nick {
}
.conditionBox {
  justify-content: end;
}
.icon {
  padding-right: 1rem;
  color: #9c9c9c;
}
.isJoin {
}
.roomTitle {
  font-size: large;
  margin-bottom: 1.5rem;
  line-height: 23px;
  word-spacing: -2px;
  text-align: center;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}
.buttons button:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ff946d),
    to(#ff7d68)
  );
}
